NODE_ENV=development
PORT=3000

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/car_wash?schema=public

POSTGRES_USER=postgres
POSTGRES_PASSWORD=admintv
POSTGRES_DB=car_wash
POSTGRES_PORT=5432


# JWT Configuration
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production
JWT_REFRESH_EXPIRES_IN=7d
